fabric
Jinja2
pyaml-env==1.1.5
python-chi
python-swiftclient
python-heatclient
python-jenkins
cryptography
croniter
paramiko
requests
ulid

# test
pytest
pytest-timeout
spur

# image_deployer
pyyaml
openstacksdk>1.0.1
